* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body {
  background: "rgb(48, 51, 50)";
}

.image-centered-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.default-xs-font {
  font-size: 18px;
  font-weight: 600 !important;
}
.default-xxs-font {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}
.default-md-font {
  font-size: 50px;
  font-weight: 600 !important;
}

.img-col:hover .image-centered-text {
  opacity: 1;
  transition: 0.5s;
  background-color: rgba(254, 188, 57, 0.8);
}
